<p>accepted-cibil works!</p>


<table class="zigzag" border="1">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>E-MAIL</th>
            <th>MOBILE NO.</th>
            <th>PAN CARD NO.</th>
            <th> ANNUAL INC</th>
            <th>CIBIL</th>
            <!-- <th>Enquiry Status</th> -->

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let e of enqData ">
            <td>{{e.customerId}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.age}}</td>
            <td>{{e.email}}</td>
            <td>{{e.mobileNo}}</td>
            <td>{{e.pancardNo}}</td>
            <td>{{e.annualIncome}}</td>
            <!-- <td>{{e.enquiryStatus}}</td> -->
            <td> <button (click)="fillLoanApplication()"> Loan Form Fill </button></td>


        </tr>

    </tbody>

</table>