.form {
    padding: 0em 10em 16em 7em;
    resize: both;
    overflow: auto;
}
.example-full-width{
    width: 100%;
    float: right;
}
.container1{
    width: 50%;
    float: left;
}
.container2{
    width: 50%;
    float: left;
    height: 400em;
}
.my-3{
    margin: 0;
} 