<p>side-menu works!</p>

                    <span class="fs-5 d-none d-sm-inline">Menu</span><br>
                    {{role}}
               
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item"  *ngFor="let item of menuItems[0][role]">
                        <a href="#" class="nav-link align-middle px-0" [routerLink]="[role,item.path]">
                          <i class="fs-4 bi-people "></i> <span class="ms-1 d-none d-sm-inline">{{item.title}}</span>
                        </a>
                    </li>
                    
                </ul>
                <hr>
               
            