<p>view-enquiry works!</p>


<table class="zigzag">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>E-MAIL</th>
            <th>MOBILE NO.</th>
            <th>PAN CARD NO.</th>
            <th> ANNUAL INC</th>
            <th>CIBIL</th>
            <th>Enquiry Status</th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let e of enqData ">
            <td>{{e.customerId}}</td>
            <td>{{e.customerFirstName}}</td>
            <td>{{e.customerLastName}}</td>
            <td>{{e.customerDateOfBirth}}</td>
            <td>{{e.customerEmail}}</td>
            <td>{{e.customerMobileNumber}}</td>
            <td>{{e.customerPanCard}}</td>
            <td>{{e.annualIncome}}</td>

            <td> <button (click)="chkCibil(e.customerId)">CheckCIBIL </button></td>
            <td>{{e.enquiryStatus}}</td>


        </tr>

    </tbody>

</table>

<!-- <div class="div">

    <table class="table" border="1">
        <th>customerId</th>
        <th>FirstName</th>
        <th>lastName</th>
        <th>age</th>
        <th>email</th>
        <th>mobileNo</th> -->


<!-- 
        <tr *ngFor="let x of enquiries">

            <td> {{x.customerId}}</td>
            <td> {{x.firstName}}</td>
            <td> {{x.lastName}}</td>
            <td> {{x.age}}</td>
            <td> {{x.email}}</td>
            <td> {{x.mobileNo}}</td>



        </tr> -->
<!-- </table> -->