.dashheader {
    margin: 0;
    
background-image:linear-gradient(to bottom right, rgb(48, 63, 159), rgb(255, 64, 129));
    
background-size: 100%;

    height: 80px;
    // background-color: #07e9d6;
}

h1 {
    margin: 0;
    color: white;
    // text-shadow: 2px 2px 8px #9eee09;
    padding-top: 20px;
    font-size: 40px;
}

img {
    float: left;
    margin: 0px 10px 0px 10px;
    // border-radius: 45px;
    height: 80px;
    width: 150px;
    //   opacity: 0.3;
}