.dashheader{
    margin: 0;
    background-image: url(../../../assets/pictures/dash-header/2.jpg);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 1350px;
    height: 80px;
}
h1{
    margin: 0;
}