<!-- image slider -->
<div class="slider">
    <carousel [images]="images" [cellsToShow]="1" [loop]="true" [autoplay]="true" [transitionDuration]="1000" [autoplayInterval]="4000" [height]="300 "></carousel>
</div>

<!--  PANEL BAR -->
<div class="panel ">
    <div class="panelon ">

        <div>
            <div class="big ">80,000 +</div>
        </div>
        <div class="smalltext ">Happy Customers</div>
    </div>
    <div class="panelonn ">
        <div>
            <div class="big ">100 %</div>
        </div>
        <div class="smalltext ">Funding Available</div>
    </div>
    <div class="panelon ">
        <div>
            <div class="big ">600 +</div>
        </div>
        <div class="smalltext ">Dealer Network</div>
    </div>
    <div class="panelonn ">
        <div>
            <div class="big ">800 +</div>
        </div>
        <div class="smalltext ">Qualified Staff</div>
    </div>
</div>
<!-- SHOW SOME CONTAIN -->
<div class="hi-com ">
    <h1>ARE YOU LOOKING FOR LOAN ?</h1>

    <div class="row ">
        <div class="column ">
            <img src="../../../assets/pictures/header/funding-icon.png " alt=" ">
            <div class="text1 ">100 % FUNDING</div>
        </div>
        <div class="column ">
            <img src="../../../assets/pictures/dash-header/emi-icon2.png " alt=" ">
            <div>LOWEST EMI AVAILABLE</div>
        </div>
        <div class="column ">
            <img src="../../../assets/pictures/dash-header/click-icon.png " alt=" ">
            <div>INSTANT APPROVAL</div>
        </div>
    </div>

    <div class="row ">
        <div class="column ">
            <img src="../../../assets/pictures/dash-header/interest-icon (1).png " alt=" ">
            <div class="text1 ">LOW RATE OF INTEREST</div>
        </div>
        <div class="column ">
            <img src="../../../assets/pictures/dash-header/clock-icon.png " alt=" ">
            <div>LOAN JUST IN 10 MINUT</div>
        </div>
        <div class="column ">
            <img src="../../../assets/pictures/dash-header/tenure-icon.png " alt=" ">
            <div>TENURE 06 TO 48 MONTH</div>
        </div>
    </div>
</div>



<!-- <div class="custom blue-panel ">
	<div class="main-wrap clearfix ">
<div class="box1 clearfix ">
<div class="blue-icon "><img title=" " src="/images/icon1.png " alt=" "></div>
<div class="blue-text "><span class="counter " style="display: inline-block; ">800,000</span> <sup>+</sup>
<div class="small-text ">Happy Customers</div>
</div>
</div>
<div class="box2 clearfix ">
<div class="blue-icon "><img title=" " src="/images/icon2.png " alt=" "></div>
<div class="blue-text "><span class="counter " style="display: inline-block; ">600</span><sup>+</sup>
<div class="small-text ">Dealer Network</div>
</div>
</div>
<div class="box3 clearfix "> -->