.sidefooter {
    background-color: aqua; // background-image: url("../../../assets/pictures/header/business-bg.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    float: left;
    height: 250px;
    color: white;
    text-align: center;
}

.gmap {
    width: 50%;
    float: left;
    height: 125px;
}

.copy {
    text-align: center;
    background-color: #0f4457;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

a {
    color: white;
}

.copyright {
    float: left;
    display: block;
    width: 100%;
}