<div>
    <div class="sidefooter">
        <div class="ancor">
            <h1>Important Link's</h1>
            <!-- <div class="ulink">
                <p>
                    OMEGA FINANCE its 
                    financial expertise with the latest
                     trends and developments in digital 
                     technology, to help customers find
                      the best financial products most 
                      suited to their needs. 
                      Our 25,000+ partners disburse 
                      over Rs. 50,000+ crore 
                      loans annually.
                </p>
            </div> -->
            <ul class="ulink">
                <li>
                    <a href="#">EMI CALCULATOR</a>
                </li>
                <li>
                    <a href="#">CUSTOMER SERVICE </a>
                </li>
                <li>
                    <a href="#">BRANCH LOCATOR</a>
                </li>
                <li>
                    <a href="#">FAQ'S</a>
                </li>
                <li>
                    <a href="#">MEDIA</a>
                </li>
                <li>
                    <a href="#">POLICY'S</a>
                </li>
            </ul>
            <ul class="ulink">
                <li>
                    <a href="#">ABOUT US</a>
                </li>
                <li>
                    <a href="#">CONTACT US</a>
                </li>
                <li>
                    <a href="#">EVENT GALLARY</a>
                </li>
                <li>
                    <a href="#">TESTIMONIAL</a>
                </li>
                <li>
                    <a href="#">SIDE MAP</a>
                </li>
                <li>
                    <a href="#">'TEARM & CONDITION</a>
                </li>
            </ul>
        </div>

        <div class="cont">
            <h1>Contact us</h1>
            <div class="foot-col-lt">
                <div class="add-bold">Omega Finance Ltd.</div>
                105, <br> RUNWAL HEIGHTS, <br> OPP NIRMAL LIFESTYLE, <br> Near Shivaji Statue,<br> Karvenagar , <br> Pune-400080
            </div>
            <div class="foot-col-rt">
                <div class="con-bold">Phone :</div>
                <div>+91 022 5555 6666</div>

                <div class="con-bold">Email :</div>
                <div class="con-mail"><a href="#">info@omegafinance.com</a></div>


                <div class="con-bold">Follow :</div>
                <div class="con-text">
                    <a href="#" target="_blank">
                        <img title="Facebook" src="../../../assets/pictures/header/fab-icon.png" alt="Facebook">
                    </a>
                    <a href="#" target="_blank">
                        <img title="Twitter" src="../../../assets/pictures/header/tw-icon.png" alt="Twitter">
                    </a>
                    <a href="#" target="_blank">
                        <img title="Instagram" src="../../../assets/pictures/header/insta.png" alt="Twitter">
                    </a>
                </div>


                <!--             
<i class='fas fa-hand-pointer' style='font-size:24px'></i>
<i class='fas fa-percent' style='font-size:24px'></i>
<i class='fas fa-calendar-alt' style='font-size:24px'></i> -->
            </div>
        </div>
        <!-- <div class="gmap">
        <h1>footer..1</h1>
    </div> -->
        <!-- <div class="gmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864484.624577942!2d68.61361939999999!3d18.935343500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1dc6a03ffff%3A0xf5e7bb38204fa8c2!2sOmega%20Financial%20Services!5e0!3m2!1sen!2sin!4v1673876839332!5m2!1sen!2sin"
            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> -->
        <!-- </div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808928.6516281026!2d77.10733199999997!3d21.205785000000017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a293d27b8984831%3A0x32e7b65ecfb9aa87!2sOmega%20financial!5e0!3m2!1sen!2sin!4v1673940993031!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <div class="copyright">
            <div class="copy">
                © Copyright 2021. Omega Finance. All Rights Reserved.
                <span id="design-by"> 
                | 
                <a href="#" target="_blank" rel="nofollow">
                    Web design
                </a> 
                by Image Online.
            </span>
            </div>
        </div>
    </div>