<!-- <div style="background-color: #f2f4f5; height: 20%;">home-header works! HOME HEADER 
    <h2>Finance</h2>
    <button routerLink="home"> Home</button >
    <button routerLink="login"> Login</button >
    <button routerLink="emiCalculator"> EMI Calculator</button >
    </div> -->
    <div>
        <div class="header">
            <img src="../../../assets/pictures/header/omega110.png" alt="">
            <h1>Omega Finance</h1>
        </div>
        <div class="topnav">
            <a  routerLink="home">Home</a>
            <a  routerLink="emiCalculator">EMI Calculator</a>
            <a  href="#">Galary</a>
            <a  href="#">About us</a>
            <a  href="#">Contact Us</a>
            <a  routerLink="login" style="float:right">Login</a>
        </div>
    </div>

    
<!-- //for entry -->