// header
.header {
    margin: 0;
    // background-color: rgb(48, 63, 159);
    background-image: linear-gradient(to bottom right, rgb(50, 69, 192), rgb(255, 64, 129));
    // background-color: #E91E63;
    background-size: 100%;
    height: 120px;
}

h1 {
    font-size: 50px;
    margin: 0;
    color: white;
    // text-shadow: 4px 4px 12px #006f97;
    padding-top: 40px;
}

img {
    float: left;
    margin: 0px 10px 0px 10px;
    // border-radius: 45px;
    height: 120px;
    width: 150px;
    //   opacity: 0.3;
}

// navigationbar
.topnav {
    overflow: hidden;
    margin-left: 0%;
    // background-color: #006f97;
    // background-color: rgb(255, 64, 129);
    // background-color:rgb(9, 40, 243);
    background-color: white;
    opacity: 0.8;
    position: sticky;
    top: 0;
    z-index: 2;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    font-size: 15px;
    // color: #E91E63;
    color: rgb(48, 63, 159);
    ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}


/* Change color on hover */

.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
}