<!-- <p>login works!</p> -->

<!-- <form action="" [formGruop]>
<input type="text" for>
<input type="text">
<button  routerLink="role" (click)="gotoDash()">Login btn- GO TO DASH</button>
</form> -->

<!-- <div  [formGroup]="loginForm"  (ngSubmit)="gotoDash()">
    <form >
        <h2 >Login Form</h2>
        <div ><i></i></div>
           
        <div ><input formControlName="userName" type="email" name="email" placeholder="Email"></div>
        <div ><input formControlName="password"  type="password" name="password" placeholder="Password"></div>
        <div ><button  type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a></form>
</div> -->

<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center mt20">
                        <img src="../../../assets/pictures/login/logo.png" alt="" />
                    </div>
                    <h1 class="text-center">User Login !!</h1>
                    <div class="container">
                        <form [formGroup]="loginForm" (ngSubmit)="gotoDash()">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input required matInput placeholder="Enter here..." formControlName="userName">
                                <mat-hint>Valid Username !!</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>User Password</mat-label>
                                <input required type="password" matInput placeholder="Enter here..." formControlName="password">
                            </mat-form-field>
                            <div class="container text-center mb20">
                                <button mat-raised-button color="primary" type="submit">Login</button>
                                <button class="ml10" mat-raised-button color="accent" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->

<!-- login form   -->

<div class="loginone">
    <div>
        <mat-card-content>
            <h1 class="text-center my-3">Login</h1>
        </mat-card-content>
    </div>
    <div class="container1">
        <mat-card>
            <form [formGroup]="loginForm" (ngSubmit)="gotoDash()">
                <div class="container">
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter Here..." formControlName="userName">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Here..." formControlName="password">
                    </mat-form-field>
                    <div class="container3">
                        <div class="p-2 text-center ">
                            <button mat-raised-button color="accent" class="mr" type="submit">Login</button>
                            <button mat-raised-button color="primary" class="mr-20" type="reset">Reset</button> &nbsp;
                        </div>
                    </div>
                </div>
            </form>


        </mat-card>
    </div>

    <div class="container2">
        <img src="../../../assets/pictures/header/signup1-image.jpg" class="img-fluid " alt="Sample image ">
    </div>
</div>
<!-- -----------
<div class="login-box">

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="gotoDash()">
        <div class="user-box">
            <input type="text" name="" required="" formControlName="userName">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name=" " required=" " formControlName="password">
            <label>Password</label>
        </div>
        <a href="# ">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button mat-raised-button color="primary" type="submit">Login</button>

        </a>
        <a href="# ">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button class="ml10" mat-raised-button color="accent" type="reset">Reset</button>
        </a>
    </form>
</div> -->